@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700");

/*********** Global Styles********/
:root {
  --bgcolor-first: #b22234;
  --bgcolor-second: #3c3b6e;
  --bgcolor-third: white;
  --text-main: #3f4045;
  --text-accent: #30292f;
}

body,
html {
  background-color: var(--bgcolor-first);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif !important;
  font-weight: 900 !important;
}

.img-circle {
  border-radius: 50%;
}

.my-button {
  font-size: 1em;
  line-height: normal;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out, color 0.2s 0.3s;
  letter-spacing: 0;
  border-radius: 45px;
  height: auto;
  padding: 0.8em 2.1em;
}

.my-button:hover {
  cursor: pointer;
  padding: 0.8em 2.7em;
}

.my-button:active,
.my-button:focus,
.my-button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*#my-modal {
	display: none;
}

.my-form {
	margin-top: 20em;
}

.custombox-content {
	background: #212332;
}*/

/**********************************/

/*** thin bar ***/

.thin-bar {
  border-bottom: 5px solid #f33f12;
}

/*** Header ***/

.navbar {
  background-color: var(--bgcolor-second);
  color: var(--bgcolor-third);
  max-width: 1400px;
  border: 0.25em solid var(--bgcolor-third);
  height: 3em;
  text-align: center;
  margin: 0.5em auto;
  border-radius: 1em;
  overflow: hidden;
}

.navbar a {
  padding: 4em;
  color: var(--bgcolor-third);
  text-decoration: none; 
}

.navbar li {
  display: inline-block;
  padding: 10px
}

.navbar li:hover {
  background-color: #4c4b8d;
}

/*** About Section ***/

#about {
  margin-top: 10em;
  border: 1px solid #eee;
  background-color: var(--bgcolor-third);
  padding-bottom: 1em;
}

#about img {
  max-width: 15em;
  position: relative;
  bottom: 7.5em;
}

#about .details {
  margin-top: -2em;
}

#about h2 {
  color: var(--text-main);
  font-size: 3.5em;
  padding-bottom: 1em;
  text-shadow: 1px 1px 10px var(--text-main);
}

#about span {
  font-weight: 300;
  font-size: 0.7em;
}

#about h5 {
  color: #8a8a8b;
}

#about p {
  margin-top: 1em;
  color: #646464;
  font-family: "roboto";
  font-weight: 300;
}

.cta .cta-button {
  color: var(--text-main);
  text-transform: uppercase;
  border: 4px solid var(--bgcolor-first);
  border-radius: 50px;
  background: var(--bgcolor-third);
}

.cta .cta-button:hover,
.cta .cta-button:focus {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 14px 1px rgba(0, 0, 0, 0.15);
  background-color: var(--bgcolor-second);
  color: var(--bgcolor-third);
}

#about i {
  margin-top: 2em;
}

.profile-photo {
  border: 0.35em solid var(--bgcolor-second);
}

.fa {
  font-size: 2em;
  padding: 0.1em 0.4em;
  color: var(--text-main);
}

.fa:hover {
  cursor: pointer;
  -webkit-box-shadow:0 0 20px var(--bgcolor-second); 
  -moz-box-shadow: 0 0 20px var(--bgcolor-second); 
  box-shadow:0 0 20px var(--bgcolor-second);
}

.fbicon {
  margin-left: 0.2em;
  color: var(--text-main);
  font-size: 2em;
}

.fbicon:hover {
  color: var(--text-main);
  -webkit-box-shadow:0 0 20px var(--bgcolor-second); 
  -moz-box-shadow: 0 0 20px var(--bgcolor-second); 
  box-shadow:0 0 20px var(--bgcolor-second);
}

/*** Experience ***/
#experience {
  background-color: var(--bgcolor-second);
  padding: 6em 4em 5.6em;
}

#experience h2 {
  color: #fff;
  margin-bottom: 0.7em;
}

#experience .tag-line {
  color: var(--bgcolor-third);
  font-size: 1.4em;
}

#experience i {
  color: var(--bgcolor-first);
  font-size: 4em;
}

#experience .fas {
  margin-top: 1em;
  font-size: 2em;
}

#experience h3 {
  color: #fff;
}

#experience img {
  height: 50px;
  width: 100% auto;
}

.experience-topics p {
  color: #acaeb2;
  font-family: "Maven pro", sans-serif;
  font-weight: 500;
}

.experience-topics ul li {
  list-style: none;
  color: #bbd2ff;
  font-family: "Maven pro", sans-serif;
  font-weight: 500;
}

#experience .row {
  display: flex;
}

/*** work ***/
#work {
  padding: 3em 4em 3em;
  background-color: #fff;
}

#work h2 {
  color: var(--bgcolor-second);
  margin-bottom: 0;
}

#work .tag-line {
  color: var(--bgcolor-second);
  font-size: 1.4em;
  margin-bottom: 2em;
}

#work .work-row {
  margin-bottom: 2.5em;
}

#work img {
  cursor: pointer;
}

.modal {
  z-index: 1;
  display: none;
  padding-top: 10px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: auto;
  display: block;
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-25%, -25%);
}

.modal-hover-opacity {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-backface-visibility: hidden;
}

.modal-hover-opacity:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-backface-visibility: hidden;
}

.close {
  text-decoration: none;
  float: right;
  font-size: 4em;
  font-weight: bold;
  color: white;
}
.container1 {
  /* width:200px; */
  display: inline-block;
}
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.details h3 {
  margin-top: 0.5em;
  color: var(--bgcolor-first);
  text-transform: uppercase;
}

.details .platform {
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 1em 0 -0.1em;
  font-family: "Maven pro", sans-serif;
  font-weight: 500;
  color: var(--bgcolor-first);
}

.details i {
  color: var(--bgcolor-first);
  margin-right: 1em;
}

.details p {
  color: var(--text-accent);
  font-family: "Maven pro", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

.details a:not(.det-link),
.details a:link:not(.det-link),
.details a:active:not(.det-link) {
  color: var(--bgcolor-second);
  border: 4px solid var(--bgcolor-first) !important;
  background-color: #fff;
}

.det-link {
  color: var(--bgcolor-first);
}

#work .det-link:hover {
  -webkit-box-shadow:0 0 20px var(--bgcolor-second); 
  -moz-box-shadow: 0 0 20px var(--bgcolor-second); 
  box-shadow:0 0 20px var(--bgcolor-second);
  border-radius: 5em;
}

.details a:hover,
.details a:focus {
  /* box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15); */
  background-color: var(--bgcolor-second);
  color: #fff;
}

/*** teaching ***/
#teaching {
  z-index: 0;
  background-color: #041e42;
  width: 100%;
  padding: 6em 4em 3em;
}

#teaching h2 {
  color: var(--bgcolor-first);
  -webkit-text-stroke: 1pt var(--bgcolor-third);
}

#teaching .tag-line {
  color: var(--bgcolor-first);
  font-size: 1.4em;
  -webkit-text-stroke: 0.5px var(--bgcolor-third);
}

#teaching .teaching-domains {
  height: 300px;
  width: auto;
  margin-top: -4em;
}

/* The American Flag */

#container {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 60vh; */
  /* width: 100vw; */
}

.USA-flag {
  position: relative;
  width: 900px;
  min-width: 900px;
  height: 450px;
  box-shadow: 0px 20px 80px 10px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1000px) {
  .USA-flag {
    transform: scale(0.75);
  }
}
@media (max-width: 725px) {
  .USA-flag {
    transform: scale(0.5);
  }
}
@media (max-width: 475px) {
  .USA-flag {
    transform: scale(0.375);
  }
}
@media (max-width: 340px) {
  .USA-flag {
    transform: scale(0.325);
  }
}

.stripe {
  background-color: #b22234;
  width: 100%;
  height: calc(450px / 13);
}
.stripe--white {
  background-color: white;
}
.USA-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 378px;
  height: calc((450px / 13) * 7);
  background-color: #041e42;
  z-index: 1;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.star {
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: -4px;
}
.star-row {
  display: flex;
  justify-content: space-between;
}
.star-row--five {
  padding: 0px 33px;
}

/*** Footer Call-to-action ***/

#footer-cta {
  background-color: var(--bgcolor-third);
  padding: 6em 4em 5.6em;
}

#footer-cta h2 {
  color: var(--bgcolor-second);
  text-shadow: #5299d3;
}

#footer-cta p {
  color: var(--bgcolor-second);
  font-family: "Maven pro", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

#startButtonDiv {
  margin-top: 3em;
}

#footer-cta a {
  border: 4px solid var(--bgcolor-second);
  border-radius: 45px;
  color: var(--bgcolor-first);
}

#footer-cta a:hover {
  background: var(--bgcolor-first);
  color: var(--bgcolor-third);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 14px 1px rgba(0, 0, 0, 0.15);
}

/*** footer starts ***/

#footer {
  padding: 5em 4em 2em;
}

#footer #logo {
  background-color: var(--bgcolor-second);
  border-radius: 50%;
  color: #fff;
  padding: 0.4em;
  font-family: "Maven pro", sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  display: inline;
}

#footer #copyright {
  margin-top: 1.6em;
  font-family: "Maven pro", sans-serif;
  font-weight: 500;
  color: var(--bgcolor-second);
  background-color: var(--bgcolor-third);
  border-radius: 50%;
}

.profile-photo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
  margin-top: -100px;
  margin-bottom: 40px;
}

@media (max-width: 475px) {
  #copyright {
    padding: 0.5em;
  }
}

@media (max-width: 425px) {
  .row {
    flex-wrap: wrap;
  }
}


@media (max-width: 336px) {
  #work .my-button {
    padding: 0.8em 1.8em;
  }
}

@media (max-width: 327px) {
  #work .my-button {
    padding: 0.8em 1.6em;
  }
}

